
<div class="container">
  <h1 class="heading text-center">Warehouses Map</h1>
  <div class="row">
    <div class="col-md-8">
      <div id="map"></div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Warehouse 1</h5>
          <img style="width: 30px;" src="assets/images/temperature.png" />
          <p *ngIf="data" style="margin-top: -26px; margin-left: 30px">{{data[0].temperature}}˚C</p>
          <img style="width: 30px;" src="assets/images/humidity.png" />
          <p *ngIf="data" style="margin-top: -20px; margin-left: 30px">{{data[0].lighting_condition}}%</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Warehouse 2</h5>
          <img style="width: 30px;" src="assets/images/temperature.png" />
          <p *ngIf="data" style="margin-top: -26px; margin-left: 30px">{{data[1].temperature}}˚C</p>
          <img style="width: 30px;" src="assets/images/humidity.png" />
          <p *ngIf="data" style="margin-top: -20px; margin-left: 30px">{{data[1].lighting_condition}}%</p>
        </div>
      </div>
    </div>
  </div>
</div>

